# Set only if both networks up
CROSSCHAIN=true

# MAIN is network under test, SIBLING is used only for CROSSCHAIN tests
RPC_URL_MAIN=127.0.0.1:9699/redefi-relay/
RPC_URL_SIBLING=127.0.0.1:9699/redefi-relay-redefi-parachain/
